@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}



.outerdiv {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerdiv {
  transform: scale(0.9);
  margin: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(4, 17rem);
}

.eachdiv {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px #6d6b6b6b;
  color: white;
}

.div1 {
  background: #3a3d3f;
  grid-column: 1/3;
  grid-row: 1/2;

}

.div2 {
  background: #49556B;
  grid-column: 3/4;
  grid-row: 1/2;
}

.div3 {
  background: white;
  grid-column: 4/5;
  grid-row: 1/3;
  color: black;
}

.div4 {
  background: white;
  grid-column: 1/2;
  grid-row: 2/3;
  color: black;
}

.div5 {
  background: #18202D;
  grid-column: 2/4;
  grid-row: 2/3;
}

.userdetails {
  display: flex;
}

.imgbox {
  margin-right: 1rem;
}

.imgbox img {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid #cec5c5;
}

.detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detbox p {
  margin: 0;
}

.detbox .name {
  color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}

.detbox .name.dark {
  color: #49505A;
}

.detbox .designation {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
}

.detbox .designation.dark {
  color: #49505A;
}

.review h4 {
  font-size: 1.4rem;
  color: #F3DEFF;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.review.dark h4 {
  color: #4B5258;
}

.review p {
  font-size: 0.95rem;
  color: #F3DEFF;
  font-weight: 500;
  opacity: 50%;
  line-height: 1.5;
}

.review.dark p {
  color: #0e0e0e;
}

.attribution {
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}


@media only screen and (max-width: 1000px) {
  .innerdiv {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 800px) {
  .innerdiv {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 600px) {
  .div1 {
    background-position-x: 10rem;
  }

  .innerdiv {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }

}



#card1 {
  background-image: url('https://www.imaginenation.com.au/wp-content/uploads/2017/04/Blog-Image-18.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

#card2 {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRptxcm1qESsRmuI20uAtxzUikdaaLr5918Zw&usqp=CAU');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

#card3 {
  background-image: url('https://images.unsplash.com/photo-1496115965489-21be7e6e59a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

#card4 {
  background-image: url('https://slatesafety.com/wp-content/uploads/2022/08/downtown-atlanta-smaller.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}



.testimotionals {
  width: 350px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px
}


.testimotionals .card {

  position: relative;
  overflow: hidden;
  width: 300px;
  background: rgb(240, 92, 92);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .5)
}

.testimotionals .card .layer {
  z-index: 1;
  position: absolute;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #000;
  color: #fff;
  opacity: .5;

  transition: 0.5s;

}

.testimotionals .card .content {
  z-index: 2;
  position: relative;
}

.testimotionals .card:hover .layer {
  top: 0;
}

.testimotionals .card .content p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;

}

.testimotionals .card .content .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);

}

.testimotionals .card .conte nt .details h2 {
  font-size: 18px;
  color: white;
}

.testimotionals .card .content .details h2 span {
  font-size: 18px;
  color: white;
  transition: 0.5s;
}

.testimotionals .card:hover .content .details h2 span {
  color: white;
  position: relative
}

#contactBg {
  background-image: url('https://www.tatapower.com/images/contact_banner_laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}
#blogBg{
background-image: url(https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?cs=srgb&dl=pexels-jeshootscom-442574.jpg&fm=jpg);
background-size: cover;
background-repeat: no-repeat;
height: 700px;
}
.featuresBg{
  background-image: url(https://c4.wallpaperflare.com/wallpaper/63/375/698/sky-blue-blur-gradation-wallpaper-preview.jpg);
  background-size: cover;
background-repeat: no-repeat;
height: 700px
}
#details{
  background-image: url(https://papers.co/wallpaper/papers.co-sn66-clear-sky-blue-blur-gradation-36-3840x2400-4k-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px
}

/* article card */
.containerCard {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.containerCard .cardArticle {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.containerCard .cardArticle .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.containerCard .cardArticle:hover .content {
	transform: translateY(-20px);
}

.containerCard .cardArticle .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.containerCard .cardArticle .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.containerCard .cardArticle .content .contentBx h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.containerCard .cardArticle .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.containerCard .cardArticle .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.containerCard .cardArticle .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.containerCard .cardArticle:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.containerCard .cardArticle.sci li p {
	color: black;
	font-size: 20px;
}
@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }

  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }

  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}



@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.custom-img {
  background-image: url('https://img.freepik.com/premium-vector/mobile-app-development-background_73903-295.jpg?w=2000')
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: rgb(163, 125, 125);
  }
}